Data/archive/*
Data/raw/*
Data/processed/*
Data/*
tutorial_data/*
test_scripts/*
test_scripts
.ipynb_checkpoints/*
__pycache__/*
*dtrack_utils.c*
src/utils/build
runs/*
runs
*.swp
*.swx
testing.ipynb
testing*

